<!-- <iframe
  class="w-full h-screen"
  src="https://www.youtube.com/embed/8g18jFHCLXk? &autohide=0&controls=0&modestbranding=0&fs=1&playlist=8g18jFHCLXk"
  frameborder="0"
  allowfullscreen
></iframe> -->
<div class="h-screen bg-black w-full relative">
  <iframe
    src="https://streamable.com/e/qg4agh?autoplay=1"
    frameborder="0"
    allowfullscreen
    allow="autoplay"
    class="h-screen w-screen absolute z-40"
  ></iframe>
  <div class="absolute top-0 z-50 pl-[40px] pt-[30px]">
    <a routerLink="">
      <hero-icon
        name="arrow-left"
        class="text-white shadow-2xl hover:text-gray-100 h-[45px]"
      ></hero-icon>
    </a>
  </div>
</div>
